.tabs {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
}
.theCard {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 15px;
  width: 345px;
}
