* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./Assets/Images/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
p {
  color: white;
}
span {
  color: white;
}
.page {
  display: flex;
  height: 100vh;
  /* calculate the height. Header is 30px */
}

.sideBar {
  width: 21%;
  background: rgba(22, 22, 35, 0.6);
  backdrop-filter: blur(12.5px);
}

.content {
  flex: 1 0 auto;
  /* enable grow, disable shrink */
}
